@use 'style/variables' as v;

.Banner {
  padding-top: 150px;
  padding-bottom: 600px;
  position: relative;
  top: -220px;
  z-index: -1;

  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 81px; // TODO - Я Хз как это работает
    background-image: linear-gradient(to bottom, transparent 0%, v.$color-dark-navy 100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: inset 0 -20px 80px 50px fade-out(v.$color-dark-navy, 0.4);
  }

  &__wrapper {
    height: 100%;
  }

  &__background-video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    //filter: blur(3px);

    z-index: -1;
  }

  &__title {
    padding: 150px 0 0;

    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    //color: fade-out(v.$color-text-dark, 0.3);
    text-shadow:
      -1px -1px 0 lightgrey,  // Верхний левый
      1px -1px 0 lightgrey,   // Верхний правый
      -1px 1px 0 lightgrey,   // Нижний левый
      1px 1px 0 lightgrey;    // Нижний правый

    opacity: 0.8;
    mix-blend-mode: lighten;
  }

  &__title-additional {
    font-size: 50px;
    font-weight: 300;
  }
}
