@use 'style/variables' as v;

.Contacts {
  outline: 1px solid blue;
  font-style: normal;

  &__item {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;

    border: none;
    background-color: transparent;
  }
}
