@use 'style/variables' as v;
@import 'style/mixins';

.AboutPage {
  &__container {
    padding-top: 25px;
    background-color: v.$color-light-background;
    @include blockShadows(top);
  }

  &__breadcrumbs {
    * {
      color: v.$color-text-dark !important;
    }
  }
}
