@use "style/variables" as v;

.CatalogPage {
  //& * {
  //  outline: 1px solid slategray;
  //}

  &__breadcrumbs * {
    color: v.$color-text-light !important;
  }

  &__title {
    margin: 15px 0 25px;

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    gap: 50px;
  }

  &__filters {
    width: 400px;
  }

  &__products-container {
    flex-grow: 1;
  }

  &__sort {
    margin: 8px 0 20px;
    padding: 5px;

    border-radius: 10px;
    border: 1px solid v.$color-border-lines;
  }

  &__products-list {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__pagination {
    margin-bottom: 50px;
  }
}
