@use "style/variables" as v;

.CertificatesPage {
  padding-bottom: 100px;

  &__breadcrumbs * {
    padding-top: 10px;
    padding-bottom: 10px;
    color: v.$color-text-light !important;
  }

  &__title {
    margin-top: -50px;
  }

  &__container {
    display: flex;
    gap: 50px;
  }
}
