// steroids bootstrap
@import '~@steroidsjs/bootstrap/scss/mixins';
@import '~@steroidsjs/bootstrap/scss/variables';

// screen size
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1400px;

// color
// Основные цвета
$color-dark-navy: #162639; // темно-синий основной фон
$color-light-background: #F5F5F5; // светлый фон для разделения контента

// Акцентные цвета
$color-sky-blue: #87CEEB; // голубой для кнопок и важных элементов
$color-tiffany-blue: #0ABAB5; // тиффани для уникальных акцентов
$color-light-blue: #ADD8E6; // светло-синий для мягких акцентов

// Цвета текста
$color-text-light: #FFFFFF; // белый текст для основного содержания на темном фоне
$color-text-dark: #333333; // темный текст для чтения на светлом фоне

// Дополнительные цвета для интерфейса
$color-border-lines: #445160; // полупрозрачные линии для разделения контента
