@use 'style/variables' as v;

.Menu {
  &__item {
    padding: 5px;
  }

  &__link, &__link * {
    display: inline;
    border: none;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: v.$color-light-blue;

    transition: color 200ms ease-out;

    &:hover {
      color: v.$color-text-light;
    }

    &:active {

    }
  }

  .current {
    background-color: fade-out(v.$color-light-blue, 0.8);

    transition:
      color 200ms ease-out,
      background-color 200ms ease-out;

    & * {
      color: v.$color-text-light;
    }
  }
}
