@use 'style/variables' as v;

.BannerAbout {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 300px;

    background-image: linear-gradient(to bottom, fade-out(v.$color-text-light, 0.5) 0%, transparent 100%);
  }

  &__presentation-video {
    position: relative;
    top: -178px;

    width: 100%;

  }
}
