@use 'style/variables' as v;

.Header {
  &__wrapper {
    display: flex;
    position: relative;
  }

  &__logo {
  }

  &__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;

  }

  &__row-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    margin-left: 20px;
  }

  &__row-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__search {
    //display: block;
    margin-left: auto;
    width: 200px;

    //transform: translateX(100px);
  }
}
