@use "style/variables" as v;

.PortfolioItemPage {
  padding-bottom: 100px;

  &__breadcrumbs * {
    padding-top: 10px;
    padding-bottom: 10px;
    color: v.$color-text-light !important;
  }

  &__main-title {
    margin-top: -50px;
  }

  &__container {
    display: flex;
    gap: 50px;
  }

  &__img {
    width: 40%;

    border-radius: 20px;
  }

  &__description {
  }
}
